<section data-ng-controller="HomeController">

  <div class=" footer">

    <!-- Coffee Stats Start -->

    <div class="col-lg-2 stats-box">

      <div class="row">
        <div class="col-xs-4">
          <h1 class="pull-right">
            <i class="fa fa-coffee"></i>
          </h1>
        </div>
        <div class="col-xs-8  text-center">
          <h1>{{numOfCoffeesToday.count}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-4  text-center">
          <span class="text-muted">Coffees Today</span>
        </div>
      </div>

    </div>


    <div class="col-lg-2 stats-box">

      <div class="row">
        <div class="col-xs-4">
          <h1 class="pull-right">
            <i class="fa fa-coffee"></i>
          </h1>
        </div>
        <div class="col-xs-8  text-center">
          <h1>{{numOfCoffees.count}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-4 text-center">
          <span class="text-muted">Total Coffees</span>
        </div>
      </div>

    </div>

    <!-- Coffee Stats  End -->

    <!-- Users Stats Start -->

    <section data-ng-controller="SettingsController">

      <div class="col-lg-2 stats-box">

        <div class="row">
          <div class="col-xs-4">
            <h1 class="pull-right">
              <i class="fa fa-user"></i>
            </h1>
          </div>
          <div class="col-xs-8  text-center">
            <h1>{{numOfUsersToday.count}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-4  text-center">
            <span class="text-muted">Users Joined Today</span>
          </div>
        </div>

      </div>
      <div class="col-lg-2 stats-box">

        <div class="row">
          <div class="col-xs-4">
            <h1 class="pull-right">
              <i class="fa fa-user"></i>
            </h1>
          </div>
          <div class="col-xs-8  text-center">
            <h1>{{numOfUsers.count}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-4  text-center">
            <span class="text-muted">Total Users</span>
          </div>
        </div>

      </div>
    </section>

    <!-- Users Stats  End -->

    <!-- Reviews Stats Start -->

      <div class="col-lg-2 stats-box">

        <div class="row">
          <div class="col-xs-4">
            <h1 class="pull-right">
              <i class="fa fa-comment"></i>
            </h1>
          </div>
          <div class="col-xs-8  text-center">
            <h1>{{numOfPostsToday.count}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-4  text-center">
            <span class="text-muted">Reviews Today</span>
          </div>
        </div>

      </div>

      <div class="col-lg-2 stats-box">

        <div class="row">
          <div class="col-xs-4">
            <h1 class="pull-right">
              <i class="fa fa-comment"></i>
            </h1>
          </div>
          <div class="col-xs-8  text-center">
            <h1>{{numOfPosts.count}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-4  text-center">
            <span class="text-muted">Total Reviews</span>
          </div>
        </div>

      </div>


    <!-- Reviews Stats End -->


  </div>

</section>
