<div class="col-sm-12" id="below-navbar">

  <ul class="nav nav-tabs img-rounded" id="hottest-tabs">
    <li role="presentation" class="active"><a href="/coffees/create"> New Coffee </a>
    </li>
  </ul>

</div>

<section data-ng-controller="CoffeesController as coffeesCTRL">

  <div class=" col-sm-12 create-body-coffee">
    <div class="col-md-12">

      <form name="createCoffeeForm" class="form-horizontal" novalidate>

        <fieldset>

          <div class="row body-content">

            <div class="col-lg-6 create-coffee-left">

              <!-- Title Box Start-->

              <div class="form-group new-deal-form"
                   ng-class="{ 'has-error' : createCoffeeForm.title.$invalid && submitted}" show-errors>
                <label for="title">Title</label>
                <input name="title" type="text" ng-model="title" id="title" class="form-control"
                       required>
                <!--<div class="sub-label">Enter a Title for the Coffee.</div>-->
                <div ng-messages="coffeeForm.coffeesCTRL.title.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Coffee title is required.</p>
                </div>
              </div>

              <!-- Title Box End-->

              <!-- Brand Box Start-->

              <div class="form-group new-deal-form"
                   ng-class="{ 'has-error' : createCoffeeForm.brand.$invalid && submitted}" show-errors>
                <label for="brand">Brand</label>
                <input name="brand" type="text" ng-model="brand" id="brand" class="form-control"
                       required>
                <!--<div class="sub-label">Enter a Brand for the Coffee.</div>-->
                <div ng-messages="coffeeForm.coffeesCTRL.brand.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Coffee brand is required.</p>
                </div>
              </div>

              <!-- Brand Box End-->

              <!-- Country Box Start-->

              <div class="form-group new-deal-form"
                   ng-class="{ 'has-error' : createCoffeeForm.country.$invalid && submitted}" show-errors>
                <label for="country">Country</label>
                <input name="country" type="text" ng-model="country" id="country" class="form-control"
                       required>
                <!--<div class="sub-label">Enter a country for the Coffee.</div>-->
                <div ng-messages="coffeeForm.coffeesCTRL.country.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Coffee country is required.</p>
                </div>
              </div>

              <!-- Country Box End-->

              <!-- Marketing Text Box Start-->

              <label for="marketingtext">Marketing Text</label>
              <div class="form-group new-deal-form">

                <text-angular
                  ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],['justifyLeft', 'justifyCenter', 'justifyRight'], ['insertLink', 'undo'],['charcount']]"
                  id="marketingtext" name="marketingtext" data-ng-model="marketingtext">
                </text-angular>

                <!--<div class="sub-label">Enter the marketing text for the Coffee.</div>-->

              </div>


              <!-- Marketing Text Box End-->

            </div>
            <div class="col-lg-6 create-coffee-right">

              <!-- Price Box Start-->

              <div class="row price-row">

                <div class="col-lg-6 price-box-euro">

                  <div class="form-group new-deal-form"
                       ng-class="{ 'has-error' : createCoffeeForm.price.$invalid && submitted}" show-errors>
                    <label for="currency">Currency</label>
                    <select  name="currency" ng-model="currency" class="form-control" id="currency" required>
                      <option >Euro (€)</option>
                      <option >Sterling (£)</option>
                    </select>
                  </div>

                </div>

                <div class="col-lg-6 price-box-euro">
                  <div class="form-group new-deal-form"
                       ng-class="{ 'has-error' : createCoffeeForm.price.$invalid && submitted}" show-errors>
                    <label for="price">Price</label>
                    <!--<div class="input-group">-->
                    <!--<div class="input-group-addon">&euro;-->
                    <!--</div>-->
                    <input name="price" ng-disabled="!disablelist" type="number" ng-model="price" id="price"
                           class="form-control" required>
                    <!--</div>-->
                    <!--<div class="sub-label">Enter either the &euro; price</div>-->
                    <div ng-messages="coffeeForm.coffeesCTRL.price.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Price is required.</p>
                    </div>
                  </div>
                </div>

              </div>

              <!-- Price Box End-->

              <!-- Retailer Box Start-->

              <div class="form-group new-deal-form"
                   ng-class="{ 'has-error' : createCoffeeForm.retailer.$invalid && submitted}" show-errors>
                <label for="retailer">Retailer Website</label>
                <input name="retailer" type="url" ng-model="retailer" id="retailer" class="form-control" required>
                <!--<div class="sub-label">Enter the Retailer of the Coffee.</div>-->
                <div ng-messages="coffeeForm.coffeesCTRL.retailer.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Retailer website is required.</p>
                </div>
              </div>

              <!-- Retailer Box End-->

              <!-- uploadImage Box Start-->

              <div class="col-md-12 create-deal-image-upload-coffee new-deal-form">

                <div class="col-md-7 create-deal-image-detais">

                  <div class="manual-upload" ng-show="urlimage.length === undefined">
                    <label class="control-label" for="urlimage">IMAGE UPLOAD</label>

                    <div class="text-center form-group controls" ng-hide="uploaderProductCoffee.queue.length">
                            <span class="btn btn-default btn-file">
                                Select Image <input type="file" nv-file-select uploader="uploaderProductCoffee">
                            </span>
                    </div>

                    <div class="sub-label"> Upload a brand logo for the Coffee</div>
                    </br>

                    <div class="text-center form-group-coffee" ng-show="uploaderProductCoffee.queue.length">

                      <button class="btn btn-primary" ng-click="uploadProductPictureCoffee();">Upload</button>
                      <button class="btn btn-default" ng-click="cancelProductUploadCoffee();">Delete</button>

                    </div>

                    <div ng-show="success" class="text-center text-success">

                      <strong>Upload Successful</strong>
                    </div>

                    <!--<div ng-show="error" class="text-center text-danger">-->
                    <!--<strong ng-bind="error"></strong>-->
                    <!--</div>-->

                  </div>

                  <div class="add-image-link" ng-hide="success">

                    <label class="control-label" for="urlimage" ng-hide="uploaderProductCoffee.queue.length">IMAGE
                      URL</label>

                    <div class="controls" ng-hide="uploaderProductCoffee.queue.length">
                      <input type="url" data-ng-model="urlimage" id="urlimage" class="form-control"
                             required>
                      <div class="sub-label">Manually enter an image URL.</div>

                    </div>
                  </div>

                </div>


                <div class="col-md-5 create-deal-image-preview"></br></br>
                  <img ng-src="{{coffeeImageURL}}" class="img-thumbnail product-upload-picture">
                </div>
              </div>

              <!-- uploadImage Box End -->


              <!--<div class="col-lg-6">-->


              <!--&lt;!&ndash; Roast Box Start&ndash;&gt;-->

              <!--<div class="form-group new-deal-form"-->
                   <!--ng-class="{ 'has-error' : createCoffeeForm.roast.$invalid && submitted}" show-errors>-->
                <!--<label for="roast">Roast</label>-->
                <!--<select name="roast" ng-model="roast" class="form-control" id="roast" required>-->
                  <!--<option>0</option>-->
                  <!--<option>1</option>-->
                  <!--<option>2</option>-->
                  <!--<option>3</option>-->
                  <!--<option>4</option>-->
                  <!--<option>5</option>-->
                  <!--<option>6</option>-->
                  <!--<option>7</option>-->
                  <!--<option>8</option>-->
                  <!--<option>9</option>-->
                  <!--<option>10</option>-->
                <!--</select>-->
                <!--<div class="sub-label">Give the Coffees Roast a rating</div>-->
                <!--<div ng-messages="coffeeForm.roast.$error" role="alert">-->
                  <!--<p class="help-block error-text" ng-message="required">Roast rating is required.</p>-->
                <!--</div>-->
              <!--</div>-->

              <!--&lt;!&ndash; Roast Box End&ndash;&gt;-->

              <!--&lt;!&ndash; Aroma Box Start&ndash;&gt;-->

              <!--<div class="form-group new-deal-form"-->
                   <!--ng-class="{ 'has-error' : createCoffeeForm.aroma.$invalid && submitted}" show-errors>-->
                <!--<label for="aroma">Aroma</label>-->
                <!--<select name="aroma" ng-model="aroma" class="form-control" id="aroma" required>-->
                  <!--<option>0</option>-->
                  <!--<option>1</option>-->
                  <!--<option>2</option>-->
                  <!--<option>3</option>-->
                  <!--<option>4</option>-->
                  <!--<option>5</option>-->
                  <!--<option>6</option>-->
                  <!--<option>7</option>-->
                  <!--<option>8</option>-->
                  <!--<option>9</option>-->
                  <!--<option>10</option>-->
                <!--</select>-->
                <!--<div class="sub-label">Give the Coffees Aroma a rating</div>-->
                <!--<div ng-messages="coffeeForm.aroma.$error" role="alert">-->
                  <!--<p class="help-block error-text" ng-message="required">Aroma rating is required.</p>-->
                <!--</div>-->
              <!--</div>-->

              <!--&lt;!&ndash; Aroma Box End&ndash;&gt;-->

                <!--</div>-->
              <!--<div class="col-lg-6">-->

              <!--&lt;!&ndash; Body Box Start&ndash;&gt;-->

              <!--<div class="form-group new-deal-form"-->
                   <!--ng-class="{ 'has-error' : createCoffeeForm.body.$invalid && submitted}" show-errors>-->
                <!--<label for="body">Body</label>-->
                <!--<select name="body" ng-model="body" class="form-control" id="body" required>-->
                  <!--<option>0</option>-->
                  <!--<option>1</option>-->
                  <!--<option>2</option>-->
                  <!--<option>3</option>-->
                  <!--<option>4</option>-->
                  <!--<option>5</option>-->
                  <!--<option>6</option>-->
                  <!--<option>7</option>-->
                  <!--<option>8</option>-->
                  <!--<option>9</option>-->
                  <!--<option>10</option>-->
                <!--</select>-->
                <!--<div class="sub-label">Give the Coffees Body a rating</div>-->
                <!--<div ng-messages="coffeeForm.body.$error" role="alert">-->
                  <!--<p class="help-block error-text" ng-message="required">Body rating is required.</p>-->
                <!--</div>-->
              <!--</div>-->

              <!--&lt;!&ndash; Body Box End&ndash;&gt;-->

              <!--&lt;!&ndash; Flavour Box Start&ndash;&gt;-->

              <!--<div class="form-group new-deal-form"-->
                   <!--ng-class="{ 'has-error' : createCoffeeForm.flavour.$invalid && submitted}" show-errors>-->
                <!--<label for="body">Flavour</label>-->
                <!--<select name="flavour" ng-model="flavour" class="form-control" id="flavour" required>-->
                  <!--<option>0</option>-->
                  <!--<option>1</option>-->
                  <!--<option>2</option>-->
                  <!--<option>3</option>-->
                  <!--<option>4</option>-->
                  <!--<option>5</option>-->
                  <!--<option>6</option>-->
                  <!--<option>7</option>-->
                  <!--<option>8</option>-->
                  <!--<option>9</option>-->
                  <!--<option>10</option>-->
                <!--</select>-->
                <!--<div class="sub-label">Give the Coffees Flavour a rating</div>-->
                <!--<div ng-messages="coffeeForm.flavour.$error" role="alert">-->
                  <!--<p class="help-block error-text" ng-message="required">Flavour rating is required.</p>-->
                <!--</div>-->
              <!--</div>-->

              <!--&lt;!&ndash; Flavour Box End&ndash;&gt;-->

              <!--</div>-->

              <!--Submit Button Start-->


              <div class="form-group buttons-cancel-submit text-center">
                <button class="btn btn-default " ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success "
                        ng-click="create(); submitFormCoffee(createCoffeeForm.$valid)">Save Details
                </button>


              </div>

              <div ng-show="error" class="text-danger text-center buttons-cancel-submit">
                <strong ng-bind="error"></strong>
              </div>

              <!--Submit Button End-->

            </div>

          </div>


        </fieldset>

      </form>

    </div>
  </div>
</section>
